body{
    background-color: #FFFFFF;
}

.menuPushTop{
    
}

.jumbotron{
/*    background-color: #FFFAED;*/
    background-image: url(../image/banner.jpg);
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top:50px;
    
}

.jumbo{
    color:black;
}

.navBtn{
    min-width: 109px;
}
.navBtnBar {
    min-height: 50px;
    line-height: 50px;
}

footer{
    margin-top: 200px;
}

.pushNav{
    margin-top:100px;
}
.navbar-brand > img{
    position:absolute; 
    top:5px;
}

.editProductBtn{
    min-width: 80px;
}

.editProductBtnGroup{
    margin-top:65px;
}

.productManagementRow{
    margin-top:5px;
    border: 2px solid #D6D1CD;
}

.loginSubmitBtn{
    margin-left:490px;
}

.editProductBtnGrp{
    margin-left:380px;
}

.uploadProductBtnGrp{
    margin-left:980px;
}

.cart-border{
    border:2px solid black;
}

.cartItemBorder{
    border:2px solid grey;
    margin:5px;
}